<main class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 col-sm-12">

        <h2 class="animate__animated  animate__flipInX" >استكشف المطارات السعودية</h2>
        <p class="animate__animated animate__fadeInDown" >نتيح للمستفيد معرفة معلومات المطارات الدولية بالمملكة لتنفيذ الاجراءات اللازمة.</p>
        <h6 class="badge  rounded-pill animate__animated animate__fadeInDown animate__delay-1s" >الرياض</h6>
        <div class="details">
          <h4 class="text-warning animate__animated animate__fadeInLeft animate__delay-.5s">مطار الملك خالد</h4>
          <ul>
            <li class="animate__animated animate__fadeInLeft animate__delay-1s"> <span class="icon-moon icon-Vector "></span> دولي</li>
            <li class="animate__animated animate__fadeInLeft animate__delay-2s"> <span class="icon-moon icon-Vector "></span> خدمات طبية</li>
            <li class="animate__animated animate__fadeInLeft animate__delay-3s"> <span class="icon-moon icon-Vector "></span> خدمات ارضية</li>
          </ul>
          <a href="" class="btn btn-primary d-inline-block animate__animated animate__fadeInBottomRight animate__delay-4s"> <span class="text">عرض المزيد</span>
          <span class="icon"><i class="fa-solid fa-angle-left"></i></span></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-5 col-sm-12  animate__animated  animate__fadeInRight">
        <div class="image"><img src="./assets/imgs/Map.png" alt="" class="w-100"></div>
      </div>
    </div>
  </div>
</main>
