$active-color: #0075C9;
$primary-color: #0076BC;

$bg-color: #F7FBFD;
$white-color: #fff;
$gray-color: #7C7C7C;
$danger-color: #EE3749;
$success-color: #00A886;
:root {
  --active-color: #{$active-color};
  --primary-color: #{$primary-color};
  --bg-color: #{$bg-color};
  --gray-color:#{$gray-color};
  --white-color: #{$white-color};
  --danger-color: #{$danger-color};
  --success-color: #{$success-color};
}
