<div class="page-content">
  <app-header-catalog></app-header-catalog>
  <div class="title-page">
    <h6 class="animate__animated  animate__flipInX">SGFPR</h6>
    <h1 class="animate__animated  animate__flipInX">نموذج رحلة عامة واحدة </h1>
  </div>
  <app-information></app-information>
</div>

<div class="page-footer d-flex justify-content-between ">
  <button class="btn btn-light animate__animated animate__fadeInLeft animate__delay-3s">الغاء الطلب</button>
  <div class="btn-action animate__animated animate__fadeInRight animate__delay-3s">
    <button class="btn me-2">حفظ كمسودة</button>
    <button class="btn btn-primary">إرسال</button>
  </div>
</div>
